
body{
background: linear-gradient(135deg,#134e5e,#71b280);
color:white;
}

html{
    scroll-behavior:smooth;
}
.center{
    text-align:center;
}


h3{
    margin:0;
}


.fish-card{
  display:flex;
  align-items:center;
  gap:20px;
  background:white;
  padding:15px;
  border-bottom: 1px solid #e5e5e5;
  border-radius:15px;
  margin:20px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.fish-img{
  width:130px;
  height:130px;
  object-fit:cover;
  border-radius:12px;
  border:4px solid #e6f2ff;
}

.fish-info h3{
  margin:0;
  color:#1c3d6e;
}

.fish-info p{
  margin-top:5px;
  color:#555;
}
.fish-card:nth-child(even){
  flex-direction: row-reverse;
}

footer{
    background-color: #40826D;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
}

.navbar{
    background-color: #40826D;
}
.navbar-brand{
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 16px;
    line-height: 1.8;
}

.nav-link{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
}


#main h1 {
  font-size: 42px;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 
    0 0 10px rgba(0,255,200,0.6),
    0 0 20px rgba(0,255,200,0.3),
    0 4px 10px rgba(0,0,0,0.5);
}
#main {
  padding: 80px 20px;
  background: linear-gradient(135deg, #0a2e33, #134e5e, #1f6f78);
}

#main p {
  font-size: 22px;         
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
  text-shadow: 
    0 0 8px rgba(0,255,200,0.5),
    0 2px 6px rgba(0,0,0,0.5);
}

#main p::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: #00ffd5;
  margin: 8px auto 0;
  border-radius: 10px;
}

#main p span {
  color: #00ffd5;
  font-weight: 700;
}


.fish-item {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
}

.fish-image, .fish-text {
    flex: 1 1 300px; 
}