body{
   background: linear-gradient(to top, #4facfe, #00f2fe);
   color:white;
}
html{
    scroll-behavior:smooth;
}
.center{
    text-align:center;
}
header{
  margin:0;
  background:black;
  padding:15px;
  display:flex;
  align-items:center;
  position:relative;
}

nav{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:30px;
}

nav a{
  color:white;
  text-decoration:none;
  font-size:18px;
}
nav a:hover{
    color:aqua;
}

.logo{
    color:#ffffff;
    font-size: 15px;
    font-weight: 800;
    transform: skewX(-15deg);
    margin-right:20px;
}
h3{
    margin:0;
}
 
.carousel-container{
  width:100%;
  overflow:hidden;
  background-color:rgb(187,143,288);
  padding: 20px 0;
}
.card{
  width:200px;
  height: 300px;
  background-color:blueviolet;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#ffffff;
  font-weight:bold;
  font-size :24px;
  border-radius:20px;
  margin: 0 1rem;
}

.carousel-track{
  display:flex;
  width:max-content;
  animation: scroll 10s linear infinite;
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}